

* {
    overflow: auto; /*> Permet d'adapter la taille des éléments pour éviter les débordements*/
}

body{
    background-color: #8BA1BB;
    font-family: Arial;
}

/* Pour mettre un commentaire dans une partie CSS du code */
div.contenu{
    background-color: white;
    margin:30px 8px 30px 8px;
    padding: 0px 8px 20px 8px;
    /*min-width: 350px;*/
   
    box-shadow:  0 0 10px 5px rgb(70, 68, 68);
    overflow: visible;
    box-align: center;
}



h1 {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
}

p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
    font-family: 'Times New Roman';
}


.centre{
    text-align: center;
    width: 100%;
    
}
p.categorie{
    background-color: #000;
    color: white; 
    display: inline-block;
   
    margin-top: -15px;
    padding: 8px 18px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    
}

div.categorie {
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}

div.ligne {
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto; /* Permet de centrer quand on met auto de chaque coté */
}

div.info{
    position: relative;"
}


table.info{ 
    position: absolute; 
    bottom:0; 
    width: 100%;
    color:white; 
    background-color: #6C829DC0;/*Dans le code # couleur, la fin 60 correspond à l'opacité, cette valeur de C0 se retrouve fréquemment, comme un standart.*/
    height: 50px;

}
table.info td{
   text-align: center;
   font-size: 12px;
   vertical-align: top;
}
table.info th{
   text-align: center;
   font-size: 14px;
   vertical-align: bottom;
   padding-bottom: 8px;
}
/* Exercice : centrer l'élément "recette" en haut de page */

img.info {
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgrey;
}


div.colonne {
    width: 100%;
    margin-top: 20px;

}

div.colonne h2 {
   /text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829DC0;
    padding-bottom: 5px;
}

div.colonne1 {
    display: inline-block;
}


div.ingredients p {
    border: 1px solid #6C829DC0;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0px;
}


table.prepa p.numero{
    background-color: #6C829DC0;
    margin:0;
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-weight: 4px;
    padding-top: 5px;
    box-sizing: border-box;
    border-radius: 50%;
}

table.prepa td{
    vertical-align: top;
}



table.prepa p.liste{
    font-size: 14px;
    margin: 5px;
    padding-left: 10px;
}

table.prepa td{
    height: 40px;
}


  /* style pour ordinateur: */
@media only screen and (min-width: 768px) {
    div.contenu{

        margin:60px 20% 80px 20%;
        padding: 0 30px 30px 30px;
        min-width: 350px;
    }
    table.info th{
        font-size: 17px;

        padding-bottom: 8px;
     }

    }
    table.info td{
       font-size: 14px;
    }

    table.info{ 
        
        height: 80px;
    }
    
   
    div.colonne {
        width: 45%;
    }
    
    div.colonne1 {
        margin-right: 10%;
    }
    
    div.colonne2 {
        float: right;    
    }
    
 
}